
<link rel="stylesheet" href="{{ theme.link }}/dist/css/socialmedia.css">
<div class='social_meidia' > 
    <div class='icon'><img src="{{ ins }}" alt="Instagram"></div>
    <div class='icon'><img src="{{ facebook }}" alt="Facebook"></div>
    <div class='icon'><img src="{{ linkedin }}" alt="LinkedIn"></div>
    <div class='icon'><img src="{{ twitter }}" alt="Twitter"> </div>


<div>









